---
import Layout from '../layouts/Layout.astro';

import Header from '../components/header.astro';
import Navbar from '../components/navbar.astro';
import Hero from '../components/hero.astro';
import Gradient from '../components/gradient.astro';
import Button from '../components/button.astro';
import ButtonContainer from '../components/button-container.astro';

const links: { name: string; href: string; button: boolean }[] = [
    {
        name: 'Servicios',
        href: '#',
        button: false,
    },
    {
        name: 'Precios',
        href: '#',
        button: false,
    },
    {
        name: 'Nosotros',
        href: '#',
        button: false,
    },
    {
        name: 'Contacto',
        href: '#',
        button: true,
    },
];
---

<Layout title="Modern Template">
    <main>
        <Header>
            <h1 class="text-xl font-bold">Lorem Ipsum Inc.</h1>
            <Navbar links={links} />
        </Header>
        <Hero>
            <div>
                <p class="text-3xl lg:text-4xl font-bold">
                    Lorem ipsum dolor sit amet <Gradient>consectetur</Gradient>
                </p>
                <p class="font-medium text-md lg:text-lg mt-2">
                    Proin sed massa vitae ipsum malesuada fringilla. Hendrerit
                    risus tincidunt.
                </p>
                <ButtonContainer>
                    <Button href="#">Contacto</Button>
                    <p class="text-sm">
                        Más de 50 personas ya nos han contactado hoy
                    </p>
                </ButtonContainer>
            </div>
            <img src="/typewriter.svg" />
        </Hero>
    </main>
</Layout>
